{"configSettings":[{"appID":"SharedServerToken","serverToken":"AYG7SBRYG5PHQBMTS7NP7U7P7DXY3QWL"},{"appID":"voiceSDK_pt","serverToken":""},{"appID":"1235850150958984","serverToken":"MT4R3CYOYRRWIBC5BTYHJWRLRV5ZL27F"},{"appID":"voiceSDK_en","serverToken":""},{"appID":"553299200893134","serverToken":"AYG7SBRYG5PHQBMTS7NP7U7P7DXY3QWL"}]}